# Тема “Вычисления с помощью Numpy”

### Задание 1

In [2]:
import numpy as np

In [16]:
a = np.array([[1,2,3,3,1],[6,8,11,10,7]]).T
mean_a = a.mean(axis=0)

In [17]:
mean_a

array([2. , 8.4])

### Задание 2

In [18]:
a_centered = a - mean_a

In [19]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

### Задание 3

In [22]:
a_centered_sp = np.dot(a_centered[:, 0],a_centered[:, 1])

In [27]:
a_centered_sp/(a.shape[0]-1)

2.0

### Задание 4

In [28]:
np.cov(a.T)[0, 1]

2.0

# Тема “Работа с данными в Pandas”

### Задание 1

In [29]:
import pandas as pd

In [30]:
authors = pd.DataFrame({'author_id':  [1, 2, 3],
                       'author_name': ['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price': [450, 300, 350, 500, 450, 370, 290]}, columns=['author_id', 'book_title', 'price'])

### Задание 2

In [34]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')

In [35]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

In [37]:
top5 = authors_price.nlargest(5, 'price').reset_index()
top5

   index  author_id author_name         book_title  price
0      3          2       Чехов   Толстый и тонкий    500
1      0          1    Тургенев        Отцы и дети    450
2      4          2       Чехов    Дама с собачкой    450
3      5          3  Островский              Гроза    370
4      2          1    Тургенев  Дворянское гнездо    350

### Задание 4

In [63]:
authors_stat = authors_price.groupby('author_name').price.agg(
    ['min', 'max', 'mean']).reset_index().rename(
    columns={'min': 'min_price', 'max': 'max_price', 'mean': 'mean_price'})

In [64]:
authors_stat

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

### Задание 5

In [66]:
authors_price['cover'] = pd.Series(['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'])

In [67]:
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [79]:
? book_info.fillna

In [91]:
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns=['cover'], aggfunc=np.sum).fillna(0)
book_info

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [89]:
book_info.to_pickle('book_info.pk')
book_info2 = pd.read_pickle('book_info.pk')

In [90]:
book_info2

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0